.section-home-page { background-size: cover; background-position: center; padding: 40px 0; box-shadow: inset 0px -100px 100px -100px rgba(0,0,0,.6); }
.section-home-page .shell { max-width: 960px; position: relative;  }
.section-home-page .section-head { max-width: 500px; margin: 0 auto; padding-bottom: 25px; }
.section-home-page .btn { font-weight: 400; padding: 15px 30px; background: #878886 }
.section-home-page .btn:hover { background: rgb(82, 67, 67); }
.section-home-page .section-body {  max-width: 620px; margin: 0 auto; }
.section-home-page .section-title { margin-bottom: 10px; font-size: 20px;  }
