<div class="header-wrap">
	<header class="header" id="header">
		<div class="header-content">
			<div class="shell">
				<div class="header-col-size1">
					<a routerLink="/home" class="logo">
						Social Room
					</a>
				</div>
				
				<div *ngIf="user" class="header-col-size1">
					<a class="nav-link" [routerLink]="['/profile', user.id]">
						My Profile
					</a>
				</div>

				<div *ngIf="user" class="header-col-size1">
					<a class="nav-link" routerLink="/people">
						People
					</a>
				</div>
				<div class="header-col-size3 login" *ngIf="user">
					<nav class="nav-notification" [ngClass]="{'active': notificationsDropdown === true}">
						<a (click)="toggleNotifications()">
							<i class="fa fa-bell" aria-hidden="true"></i>
							<span *ngIf="unread == true" class="notification active"></span>
						</a>

						<div class="notification-dropdown">
							<ul class="">
								<li *ngFor="let notification of notifications" [ngClass]="{'new': notification.seen === false}">
									<a [routerLink]="['/chat/'+notification.senderId]">
										<strong>{{notification.notificationTitle}}</strong>
										{{notification.notificationText}}
										<span>
											{{notification.createdAt | date:'fullDate'}}
										</span>
									</a>
								</li>

								<li>
									<a>
										<strong>Welcome!</strong>
										Nice to see you...

									</a>
								</li>

							</ul>

							<a href="#">View all notifications</a>
						</div>
					</nav>

					<nav class="profile" [ngClass]="{'active': profileDropdown === true}">
						<a class="avatar" [style.background-image]="'url('+user.profilePicUrl+')'" (click)="toggleProfileDropdown()"></a>
						
						<ul class="profile-dropdown">
							<li>
								<a [routerLink]="['/profile', user.id]" *ngIf="isPro; else amateurTemplate" (click)="toggleProfileDropdown()">
									<i class="fa fa-user-o" aria-hidden="true"></i>

									<span>View profile </span>
								</a>

								<ng-template #amateurTemplate>
									<a [routerLink]="['/myprofile', user.id]" (click)="toggleProfileDropdown()">
										<i class="fa fa-user-o" aria-hidden="true"></i>
										
										<span>View profile </span>
									</a>
								</ng-template>
							</li>

							<li>
								<a routerLink="/profile/edit" (click)="toggleProfileDropdown()">
									<i class="fa fa-cog" aria-hidden="true"></i>

									<span>Settings</span>
								</a>
							</li>

							<li>
								<a (click)='logout()'>
									<i class="fa fa-sign-out" aria-hidden="true"></i>

									<span> Log out </span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- <div class="header-inner" *ngIf="user;">
			<div class="shell">
				<div class="navigation">
					<nav class="nav">
						<ul>
							<li *ngIf="user">
								<a [routerLink]="['/myprofile', user.id]">
									My Profile
								</a>
							</li>

							<li>
								<a routerLink="/people">
									People
								</a>
							</li>

						</ul>
					</nav>
				</div>

				<div class="socials">
					<ul>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</a>
						</li>

						<li>
							<a href="#" target="_blank">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div> -->

		<!-- <div class="navigation-secondary">
			<div class="shell">
				<nav class="nav-secondary">
					<ul>
						<li>
							<a href="#">ABOUT</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#">FAQ</a>
						</li>

					</ul>
				</nav>
			</div>
		</div> -->
	</header>
</div>
