<div class="section-chat-room">
    <div class="section-overlay-aside"></div>
    <!-- <div class="section-overlay-aside" style="background-image: url(assets/css/images/backgrounds/section-landing-bg_02.jpg)"></div> -->
  
    <div class="shell">
      <div class="section-inner">
        <div class="section-aside">
          <allChats-template></allChats-template>
        </div>
        <!-- /.section-aside -->
  
        <div class="section-content">
          <div class="chat-wrapper" *ngIf="user && chatId">
            <!--MESSAGE OUTPUT-->
  
            <div class="allMessages chatUsers" *ngIf="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <div *ngFor="let message of messages">
                <div class="message-row" *ngIf="message.message.plainText; else htmlContent">
                  <div class="chatUser" [ngClass]="message.senderId == user.id ? 'sender' : 'receiver'">
                    <div class="chatUser-inner">
                      <!--
                        <div class="chatUser-image">
                          <span class="profile" [style.background-image]="'url('+userImages[message.senderId]+')'"></span>
                          <a class="avatar" [style.background-image]="'url('+chat.user.image+')'" (click)="toggleProfileDropdown()"></a>
                        </div>
                       -->
                      <div class="profile">
                        <!-- <span class="avatar" [style.background-image]="'url('+userImages[message.senderId]+')'" (click)="toggleProfileDropdown()"></span> -->
  
                        <p>{{message.message.content}}</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <ng-template #htmlContent>
                  <div class="chatUser" [ngClass]="message.senderId == user.id ? 'sender' : 'receiver'">
                    <div [innerHtml]="message.message.content" class="image-message-content" (click)="message.message.imageUrl && onNavigate(message.message.imageUrl)">
                    <div class="chatUser-inner">
                      <div class="chatUser-image">
                        <span class="image" [style.background-image]="'url('+message.message.content+')'"></span>
                        <img class="image" src="{{message.message.content}}" alt="">
                      </div>
                    </div>
  
                    <!--<img src="{{message.message.content}}" alt="">-->
                    </div>
                  </div>
                </ng-template>
              </div>
  
              <div class="space"></div>
            </div>
  
            <div id="chat-wrapper" class="chat-message">
              <form class="ui form" [formGroup]="messageToSend" #chat="ngForm" (ngSubmit)="sendMessage()">
                <div class="form-inner">
                  <ul class="athletes" style="display: none">
                    <li class="athlete">
                      <div class="athlete-inner">
                        <div class="athlete-image">
                          <span class="image" [style.background-image]="'url('+user.profilPicUrl+')'"></span>
                        </div>
  
                        <!--<strong class="athlete-name">{{user.firstName}} {{user.lastName}}</strong>-->
                      </div>
                    </li>
                  </ul>
  
                  <div class="chat-message-inner-text">
                    <div *ngIf="!plainText; then imageBlock else textBlock"></div>
  
                    <ng-template #imageBlock>
                      <div id="message" (emojiPickerCaretEmitter)="handleCurrentCaret($event)" (input)="content = $event.target.textContent" [innerHtml]="content"
                       contenteditable="true" (keydown)="handleEnterKey($event)" disabled="false" style="-moz-appearance: textfield-multiline;
                          -webkit-appearance: message;
                          border: 1px solid gray;
                          font: medium -moz-fixed;
                          font: -webkit-small-control;
                          height: 250px;
                          overflow: auto;
                          padding: 2px;
                          resize: both;
                          width: 400px;">
                      </div>
                    </ng-template>
  
                    <ng-template #textBlock>
                      <div id="message" class="textarea-custom" (emojiPickerCaretEmitter)="handleCurrentCaret($event)" (input)="content = $event.target.textContent"
                       [textContent]="content" (keydown)="handleEnterKey($event)" contenteditable="true">
                      </div>
                    </ng-template>
                  </div>
  
                  <div class="message-actions">
                    <button id="submit" type="submit" class="ui icon button ">
                      <i class="send icon"></i>
                    </button>
  
                    <label for="imageUploadToChat" class="label-image-chat-upload form-label">
                      <input type="file" ng2FileSelect [uploader]="uploader" id="imageUploadToChat" accept="image/*" (change)="upload()" />
                      <span>
                        <!-- <i class="fa fa-picture-o" aria-hidden="true"></i> -->
                        <img class="chat-nav-icons" src="../../assets/css/images/icons/iconmonstr-picture-13-240.png">
                      </span>
                    </label>
  
                    <a id="emoji-btn">
                      <img class="chat-nav-icons" src="../../assets/css/images/icons/iconmonstr-smiley-2-240.png">
                    </a>
  
                    <button (click)="inviteToVideoChat()" title="Create video chat room">
                      <img class="chat-nav-icons" src="../../assets/css/images/icons/iconmonstr-photo-camera-7-240.png">
  
                      <!-- <i class="fa fa-video-camera" aria-hidden="true"></i> -->
                    </button>
                  </div>
                </div>
              </form>
            </div>
  
            <div style="text-align: center">
              <small style="font-size: 0.6em"> </small>
            </div>
          </div>
        </div>
        <!-- /.section-content -->
      </div>
      <!-- /.section-inner -->
    </div>
    <!-- /.shell -->
  </div>
  <!-- /.chat-room-page -->
  