<div class="wrapper" *ngIf="contentLoaded; else loadingTemplate">
	<app-header></app-header>

	<div class="main">
		<!-- <banners-top></banners-top> -->

		<section class="section-profile-basic">
			<header class="section-head" style="background-image: url(assets/css/images/backgrounds/profile-head-bg.jpg)">
				<div class="shell">
					 <div class="profile-primary-image">
						 <div class="image" [style.background-image]="'url('+userToShow.profilPicUrl+')'"></div>
						 <img src="assets/css/images/icon-new/hot-rated-icon.png" alt="">
					 </div> 

					 <h1 class="profile-name">
						 {{userToShow.username}}
					 </h1> 
				</div>
			</header>

			<div class="section-head-under">
				<div class="shell">
					<ul class="list-living-postition" >
						<!-- <li *ngIf="!(userToShow.country == 'undefined')">
							<strong>Nationality:</strong> <i>{{userToShow.country}}</i>
						</li> -->

						<li *ngIf="!(userToShow.personalInfo.location == 'undefined')">
							<strong>Current Location:</strong> <i>{{userToShow.location}}</i>
						</li>
					</ul>
				</div>
			</div>

			<div class="section-body">
				<div class="shell">
					<div class="section-aside">
						<h3>
							About <span>{{userToShow.username}}</span>
						</h3>

						<h5>
						   Birthday: {{userToShow.dateOfBirth}}
						</h5>
					</div>

					<div class="section-content">
						<div class="image-primary" *ngIf="userToShow.images.length" [style.background-image]="'url('+mainImage+')'"></div>

						<ul class="list-images">
							<li *ngFor="let image of userToShow.images">
								<span [style.background-image]="'url('+image+')'" (click)="changeImage(image)"></span>
							</li> 
						</ul>

						<!-- <div class="list-videos">
							<li *ngFor="let video of userToShow.videos">
								<iframe allowfullscreen="" frameborder="0" height="100%" scrolling="auto"   width="100%" [src]="video | safe"> </iframe>
								  
								<small (click)="openPopup(video)"></small>
							</li>
						</div> -->

						<div class="section-actions" *ngIf="!doNotshowUserActions">
							<ul class="list-buttons">
								<li>
									<a href="#" class="btn">Make introduction</a>
								</li>

								<li>
									<a href="#" class="btn">Invite to chat</a>
								</li>

								<li>
									<a href="#" class="btn">Rate {{userToShow.username}}</a>
								</li>

								<li>
									<a href="#" class="btn">Report {{userToShow.username}}</a>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- <banners-bottom></banners-bottom> -->
	</div>
<!-- 
	<subscribe-template></subscribe-template> -->

	<app-footer></app-footer> 
</div>

<ng-template #loadingTemplate>
	<div class="wrapper">
		<div class="page-loader-wrap ">
			<div class="page-loader"></div>
		</div>
	</div>
</ng-template>


<!-- <div class="popup-video-wrap" *ngIf="showPopup">
	<div class="popup-video">
		<span class="close" (click)="closePopup()">X</span>

		<iframe allowfullscreen="" frameborder="0" height="100%" scrolling="auto"   width="100%"  [src]="video | safe"> </iframe>
	</div>	
</div> -->
