<div class="wrapper" *ngIf="contentLoaded; else loadingTemplate">

	<div class="main">
		<section class="section-profile-basic">
			<header class="section-head" style="background-image: url(assets/css/images/backgrounds/profile-head-bg.jpg)">
				<div class="shell">
					 <div class="profile-primary-image">
						 <div class="image" [style.background-image]="'url('+userToShow.profilePicUrl+')'"></div>
						 <img src="assets/css/images/icon-new/hot-rated-icon.png" alt="">
					 </div> 

					 <h1 class="profile-name">
						 {{userToShow.username}}
					 </h1> 
				</div>
			</header>

			<div class="section-head-under">
				<div class="shell">
					<ul class="list-living-postition" >

						<li *ngIf="!(userToShow.location == 'undefined')">
							<strong>Current Location:</strong> <i>{{userToShow.location}}</i>
						</li>
					</ul>
				</div>
			</div>

			<div class="section-body">
				<div class="shell">
					<div class="section-aside">
						<h3>
							About <span>{{userToShow.username}}</span>
						</h3>

						<h5>
						   Birthday: {{userToShow.dateOfBirth}}
						</h5>
					</div>

					<div class="section-content">
						<div class="image-primary" *ngIf="userToShow.profilePicUrl" [style.background-image]="'url('+mainImage+')'"></div>

						<div class="section-actions" *ngIf="doNotshowUserActions">
							<ul class="list-buttons">
								<li>
									<a href="#" class="btn">Make introduction</a>
								</li>

								<li>
									<a [routerLink]="" (click)="inviteToChat(userToShow.id)" class="btn">Invite to chat</a>
								</li>

								<li>
									<a href="#" class="btn">Rate {{userToShow.username}}</a>
								</li>

								<li>
									<a href="#" class="btn">Report {{userToShow.username}}</a>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<ng-template #loadingTemplate>
	<div class="wrapper">
		<div class="page-loader-wrap ">
			<div class="page-loader"></div>
		</div>
	</div>
</ng-template>

