<section class="section section-athletes" style="background-image: url(assets/css/images/backgrounds/section-landing-bg_02.jpg)">
	<nav class="search-people">
        <div class="shell">
            <ul>
                <li>
                    <span>
                        show:
                    </span>
                </li>

                <li  [ngClass]="{'current': filterName === 'all'}">
                    <strong (click)="changeFilter('all')">
                        All
                    </strong>
                </li>

                <li [ngClass]="{'current': filterName === 'Male'}">
                    <strong (click)="changeFilter('Male')">
                        male  
                    </strong>
                </li>

                <li [ngClass]="{'current': filterName === 'Female'}">
                    <strong (click)="changeFilter('Female')">
                        female
                    </strong>
                </li>
                <li>
                    <span>
                        advanced search
                    </span>
                </li>   
            </ul>
        </div>
    </nav>
    
	<div class="shell"> 
		<div class="section-body">
			<div class="tabs-content">
				<div class="tab current">
					<ul class="athletes">
						<li class="athlete" *ngFor="let pro of peopleToShow">
							<div class="athlete-inner">
								<div class="athlete-image">
									<span class="image" [style.background-image]="'url('+pro.profilePicUrl+')'"></span>
								</div> 
								<strong class="athlete-name">{{pro.username}}</strong>

								<div class="athlete-overlay">
									<div class="athlete-content">
										<span class="athlete-rang">
											<a [routerLink]="" class="btn-black-small">
											  Make introduction
											</a>
										</span>

										<span class="athlete-rang">
											<a [routerLink]="['/profile', pro.id]" class="btn-black-small">
											  Full profile
											</a>
										</span>

										<span class="athlete-rang">
											<a routerLink="" (click)="inviteToChat(pro.id)" class="btn-black-small">
											  Invite to chat
											</a>
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
